.box{
    box-sizing: border-box;
}
.clr{
    clear: both;
}
.container1{
    border: 4px lightgray solid;
    padding: 24px 24px 24px 0;
    display: flex;
    justify-content: space-between;
}
.box1{
    border: 4px lightgray solid;
    width: 100px;
    height: 100px;
    margin-left: 24px;
}
.box1-small{
    width: 50px;
    height: 50px;
}
.boxwrapper1{
    display: flex;
    align-items: center;
}



.container{
    border: 4px lightgray solid;
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: center;
}
.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.title{
    border: 2px lightgray solid;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}
.box{
    border: 4px lightgray solid;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
}
.box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container2{
    border: 4px lightgray solid;
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
}
.box2{
    border: 1px lightgray solid;
    margin-bottom: 24px;

}
.box2-small{
    height: 50px;
}
.box2-wrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.box2-large{
   width: 45%;
}


.container3{
    border: 4px lightgray solid;
    padding: 80px 24px 56px 24px;
    
}

.row3{
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0px auto;
    display: flex;
    justify-content: space-between;
}
.box3{
    border: 1px lightgray solid;
    margin-bottom: 24px;

}
.box3-small{
    height: 50px;
}
.box3-wrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.box3-large{
   width: 45%;
}

.box3-tiny{
    width: 30%;
    height: 50px;
}

.box3-wrap{
    display: flex;
    justify-content: space-between;
}